# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\ANTO\Desktop\Java-JavaFx-Swing-Projects-Desktop-Application-GUI-Software-master\Calculator -GUI-Using Swing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
